body{
  text-align: center;
  background-color: #aaaaaa;

}

h1{
  color: white;
  background-color: #A31700;
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.container{
  background-color: white;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 5%;
  box-shadow: 10px 10px 10px 3px #7f8082;
}
